@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);
/* config variables */
/* roboto font */
/* source sans pro */
/* lato */
/* merriweather */
/* modules */
/* this mixin makes possible to add transition to a specific vendor, example: */
/* -webkit-transition: -webkit-transform 0.5s linear; */
*:focus {
  outline: 0; }

.button {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  padding: 13px 32px;
  font-weight: 400;
  font-size: 17px;
  color: #fff !important;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  border: 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px, inset rgba(255, 255, 255, 0.88) 0px 1px 3px -1px;
  background-color: #4589E3;
  background: linear-gradient(#5DA4FF, #417BFF);
  transition: all 0.2s linear; }
  .button:hover {
    color: #fff;
    text-decoration: none; }
  .button:active {
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.29); }
  .button.button-small {
    padding: 10px 33px;
    border: 1px solid #68A2EE;
    font-size: 14px;
    font-weight: 500; }

.button-outline {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  color: #fff;
  padding: 12px 31px;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear; }
  .button-outline:hover {
    text-decoration: none;
    color: #ddd;
    border-color: #ddd; }

.button-clear {
  -webkit-font-smoothing: antialiased;
  border: 0;
  outline: none;
  padding: 1px;
  display: inline-block;
  text-decoration: none;
  -o-border-radius: 5px;
  border-radius: 5px;
  -ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  background: #adb2bb;
  background: linear-gradient(#ccd0d6, #adb2bb); }
  .button-clear span {
    display: block;
    font-size: 14px;
    padding-left: 23px;
    padding-right: 23px;
    height: 36px;
    line-height: 33px;
    border-radius: 4px;
    font-weight: bold;
    color: #444;
    text-shadow: 0 1px 0 white;
    background: #eff1f4;
    background: linear-gradient(#f7f8fa, #eff1f4);
    -ms-box-shadow: inset 0 1px 0 white;
    -o-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white; }
  .button-clear:hover {
    text-decoration: none; }
  .button-clear:active, .button-clear.active {
    background: #b5bac2;
    background: linear-gradient(#b5bac2, #b5bac2); }
    .button-clear:active span, .button-clear.active span {
      color: #444;
      background: #eff1f4;
      background: linear-gradient(#e6e8eb, #eff1f4);
      -ms-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      -o-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1); }

/* form controls */
input[type="text"].form-control, input[type="email"].form-control, input[type="password"].form-control {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  height: 39px; }
  input[type="text"].form-control::-webkit-input-placeholder, input[type="email"].form-control::-webkit-input-placeholder, input[type="password"].form-control::-webkit-input-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  input[type="text"].form-control:-moz-placeholder, input[type="email"].form-control:-moz-placeholder, input[type="password"].form-control:-moz-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  input[type="text"].form-control::-moz-placeholder, input[type="email"].form-control::-moz-placeholder, input[type="password"].form-control::-moz-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  input[type="text"].form-control:-ms-input-placeholder, input[type="email"].form-control:-ms-input-placeholder, input[type="password"].form-control:-ms-input-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  input[type="text"].form-control:focus, input[type="email"].form-control:focus, input[type="password"].form-control:focus {
    border-color: #98D2FF;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(166, 205, 236, 0.6); }

textarea.form-control {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2); }
  textarea.form-control::-webkit-input-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  textarea.form-control:-moz-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  textarea.form-control::-moz-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  textarea.form-control:-ms-input-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  textarea.form-control:focus {
    border-color: #98D2FF;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(166, 205, 236, 0.6); }

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden; }

.responsive-video iframe, .responsive-video object, .responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* vendor */
@media (min-width: 1200px) {
  .container {
    width: 1140px; } }

::-moz-selection {
  background: #275926;
  /* WebKit/Blink Browsers */
  color: #fff; }

::selection {
  background: #275926;
  /* WebKit/Blink Browsers */
  color: #fff; }

::-moz-selection {
  background: #275926;
  /* Gecko Browsers */
  color: #fff; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #5585B3;
  border-color: #4477A3; }

.pagination > li > a, .pagination > li > span {
  transition: all 0.25s linear; }

/* components */
/***
Customized Bootstrap Buttons
***/
/* Default buttons */
.btn {
  border-width: 0;
  padding: 7px 14px;
  font-size: 14px;
  outline: none !important;
  background-image: none !important;
  -webkit-filter: none;
          filter: none;
  box-shadow: none;
  text-shadow: none; }
  .btn.dropdown-toggle, .btn-group .btn.dropdown-toggle, .btn:hover, .btn:disabled, .btn[disabled], .btn:focus, .btn:active, .btn.active {
    outline: none !important;
    background-image: none !important;
    -webkit-filter: none;
            filter: none;
    box-shadow: none;
    text-shadow: none; }

.btn-default {
  border-width: 1px;
  padding: 6px 13px; }

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0; }

/* Bootstrap buttons */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    color: #333;
    background-color: #ededed;
    border-color: #b3b3b3; }
  .open .btn-default.dropdown-toggle {
    color: #333;
    background-color: #ededed;
    border-color: #b3b3b3; }
  .btn-default:active, .btn-default.active {
    background-image: none;
    background-color: #e0e0e0; }
    .btn-default:active:hover, .btn-default.active:hover {
      background-color: #e6e6e6; }
  .open .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc; }
  .btn-default .badge {
    color: #fff;
    background-color: #333; }
  .btn-default > i {
    color: #aaa; }
  .btn-default > i[class^="icon-"], .btn-default > i[class*="icon-"] {
    color: #8c8c8c; }

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: #3379b5;
    border-color: #2a6496; }
  .open .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3379b5;
    border-color: #2a6496; }
  .btn-primary:active, .btn-primary.active {
    background-image: none;
    background-color: #2d6ca2; }
    .btn-primary:active:hover, .btn-primary.active:hover {
      background-color: #3071a9; }
  .open .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd; }
  .btn-primary .badge {
    color: #428bca;
    background-color: #fff; }

.btn-success {
  color: #fff;
  background-color: #439840;
  border-color: #3b8638; }
  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
    color: #fff;
    background-color: #387f35;
    border-color: #2b6229; }
  .open .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #387f35;
    border-color: #2b6229; }
  .btn-success:active, .btn-success.active {
    background-image: none;
    background-color: #306d2e; }
    .btn-success:active:hover, .btn-success.active:hover {
      background-color: #337431; }
  .open .btn-success.dropdown-toggle {
    background-image: none; }
  .btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background-color: #439840;
    border-color: #3b8638; }
  .btn-success .badge {
    color: #439840;
    background-color: #fff; }

.btn-info {
  color: #fff;
  background-color: #89C4F4;
  border-color: #72b8f2; }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    color: #fff;
    background-color: #68b4f1;
    border-color: #43a1ed; }
  .open .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #68b4f1;
    border-color: #43a1ed; }
  .btn-info:active, .btn-info.active {
    background-image: none;
    background-color: #51a8ef; }
    .btn-info:active:hover, .btn-info.active:hover {
      background-color: #5aadf0; }
  .open .btn-info.dropdown-toggle {
    background-image: none; }
  .btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #89C4F4;
    border-color: #72b8f2; }
  .btn-info .badge {
    color: #89C4F4;
    background-color: #fff; }

.btn-warning {
  color: #fff;
  background-color: #dfba49;
  border-color: #dbb233; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
    color: #fff;
    background-color: #daae2b;
    border-color: #bb9521; }
  .open .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #daae2b;
    border-color: #bb9521; }
  .btn-warning:active, .btn-warning.active {
    background-image: none;
    background-color: #c89f23; }
    .btn-warning:active:hover, .btn-warning.active:hover {
      background-color: #d0a625; }
  .open .btn-warning.dropdown-toggle {
    background-image: none; }
  .btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    background-color: #dfba49;
    border-color: #dbb233; }
  .btn-warning .badge {
    color: #dfba49;
    background-color: #fff; }

.btn-danger {
  color: #fff;
  background-color: #F3565D;
  border-color: #f13e46; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
    color: #fff;
    background-color: #f1353d;
    border-color: #ec111b; }
  .open .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #f1353d;
    border-color: #ec111b; }
  .btn-danger:active, .btn-danger.active {
    background-image: none;
    background-color: #ef1d26; }
    .btn-danger:active:hover, .btn-danger.active:hover {
      background-color: #f0262f; }
  .open .btn-danger.dropdown-toggle {
    background-image: none; }
  .btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: #F3565D;
    border-color: #f13e46; }
  .btn-danger .badge {
    color: #F3565D;
    background-color: #fff; }

/* Button sizes */
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  vertical-align: middle; }
  .btn-lg > i {
    font-size: 18px; }

.btn > i {
  font-size: 14px; }

.btn-sm, .btn-xs {
  padding: 4px 10px 5px 10px;
  font-size: 13px;
  line-height: 1.5; }
  .btn-sm > i, .btn-xs > i {
    font-size: 13px; }

.btn-xs {
  padding: 1px 5px; }
  .btn-xs > i {
    font-size: 12px; }

/* Small button in button group */
.btn-group .input-sm .btn-default {
  padding-top: 3px;
  padding-bottom: 3px; }

/* Arrow link */
.btn-arrow-link {
  vertical-align: middle;
  display: inline-block;
  font-size: 13px; }
  .btn-arrow-link > i {
    font-size: 14px;
    line-height: 14px;
    vertical-align: top;
    margin: 2px 3px 2px 3px;
    color: #999; }
  .btn-arrow-link.btn-arrow-link-lg {
    font-size: 14px; }
    .btn-arrow-link.btn-arrow-link-lg > i {
      font-size: 16px;
      line-height: 16px;
      margin: 2px 3px 1px 3px; }

/* Circle Buttons */
.btn-circle {
  border-radius: 25px !important; }

.btn-circle-right {
  border-radius: 0 25px 25px 0 !important; }

.btn-circle-left {
  border-radius: 25px 0 0 25px !important; }

.btn-circle-bottom {
  border-radius: 0 0 25px 25px !important; }

.btn-circle-top {
  border-radius: 25px 25px 0 0 !important; }

.btn-icon-only {
  height: 34px;
  width: 34px;
  text-align: center;
  padding-left: 0;
  padding-right: 0; }
  .btn-icon-only > [class^="icon-"], .btn-icon-only > i {
    text-align: center;
    margin-top: 2px; }

.btn-sm > [class^="glyphicon-"], .btn-sm > [class*=" glyphicon-"], .btn-sm > i {
  font-size: 13px; }

.btn-xs > [class^="glyphicon-"], .btn-xs > [class*=" glyphicon-"], .btn-xs > i {
  font-size: 11px; }

.btn-group.btn-group-circle > .btn:first-child {
  border-radius: 25px 0 0 25px !important; }
.btn-group.btn-group-circle > .btn:last-child {
  border-radius: 0 25px 25px 0 !important; }

.btn-group.btn-group-devided > .btn {
  margin-right: 5px; }
  .btn-group.btn-group-devided > .btn:last-child {
    margin-right: 0; }

.btn-group-vertical.btn-group-vertical-circle > .btn:first-child {
  border-radius: 25px 25px 0 0 !important; }
.btn-group-vertical.btn-group-vertical-circle > .btn:last-child {
  border-radius: 0 0 25px 25px !important; }

/***
Portlets
***/
/* Basic portlet */
.portlet {
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
  -o-border-radius: 4px ;
  border-radius: 4px ; }
  .portlet.portlet-fullscreen {
    z-index: 10060;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff; }
    .portlet.portlet-fullscreen > .portlet-body {
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0 10px; }
    .portlet.portlet-fullscreen > .portlet-title {
      padding: 0 10px; }
  .portlet > .portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
    -o-border-radius: 4px 4px 0 0 ;
    border-radius: 4px 4px 0 0 ; }
    .portlet > .portlet-title:before, .portlet > .portlet-title:after {
      content: " ";
      display: table; }
    .portlet > .portlet-title:after {
      clear: both; }
    .portlet > .portlet-title > .caption {
      float: left;
      display: inline-block;
      font-size: 18px;
      line-height: 18px;
      font-weight: 300;
      padding: 10px 0; }
      .portlet > .portlet-title > .caption.bold {
        font-weight: 400; }
      .portlet > .portlet-title > .caption > i {
        float: left;
        margin-top: 4px;
        display: inline-block;
        font-size: 13px;
        margin-right: 5px;
        color: #666; }
        .portlet > .portlet-title > .caption > i.glyphicon {
          margin-top: 2px; }
      .portlet > .portlet-title > .caption > .caption-helper {
        padding: 0;
        margin: 0;
        line-height: 13px;
        color: #9eacb4;
        font-size: 13px;
        font-weight: 400; }
    .portlet > .portlet-title > .actions {
      float: right;
      display: inline-block;
      padding: 6px 0; }
      .portlet > .portlet-title > .actions > .dropdown-menu i {
        color: #555555; }
      .portlet > .portlet-title > .actions > .btn, .portlet > .portlet-title > .actions > .btn.btn-sm, .portlet > .portlet-title > .actions > .btn-group > .btn, .portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm {
        padding: 4px 10px;
        font-size: 13px;
        line-height: 1.5; }
        .portlet > .portlet-title > .actions > .btn.btn-default, .portlet > .portlet-title > .actions > .btn.btn-sm.btn-default, .portlet > .portlet-title > .actions > .btn-group > .btn.btn-default, .portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm.btn-default {
          padding: 3px 9px; }
        .portlet > .portlet-title > .actions > .btn > i, .portlet > .portlet-title > .actions > .btn.btn-sm > i, .portlet > .portlet-title > .actions > .btn-group > .btn > i, .portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm > i {
          font-size: 13px; }
      .portlet > .portlet-title > .actions .btn-icon-only {
        padding: 5px 7px 3px 7px; }
        .portlet > .portlet-title > .actions .btn-icon-only.btn-default {
          padding: 4px 6px 2px 6px; }
          .portlet > .portlet-title > .actions .btn-icon-only.btn-default > i {
            font-size: 14px; }
          .portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen {
            font-family: FontAwesome;
            color: #a0a0a0;
            padding-top: 3px; }
            .portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen.btn-sm {
              padding: 3px 3px !important;
              height: 27px;
              width: 27px; }
            .portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen:before {
              content: "\f065"; }
            .portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen.on:before {
              content: "\f066"; }
  .portlet > .portlet-body {
    clear: both;
    -o-border-radius: 0 0 4px 4px ;
    border-radius: 0 0 4px 4px ; }
  .portlet > .portlet-empty {
    min-height: 125px; }
  .portlet.full-height-content {
    margin-bottom: 0; }

/* Light Portlet */
.portlet.light {
  padding: 12px 20px 15px 20px;
  background-color: #fff; }
  .portlet.light.bordered {
    border: 1px solid #e1e1e1 !important; }
    .portlet.light.bordered > .portlet-title {
      border-bottom: 1px solid #eee; }
  .portlet.light.bg-inverse {
    background: #F7F7F7; }
  .portlet.light > .portlet-title {
    padding: 0;
    min-height: 48px; }
    .portlet.light > .portlet-title > .caption {
      color: #666;
      padding: 10px 0; }
      .portlet.light > .portlet-title > .caption > .caption-subject {
        font-size: 16px; }
      .portlet.light > .portlet-title > .caption > i {
        color: #777;
        font-size: 15px;
        font-weight: 300;
        margin-top: 3px; }
      .portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
        font-size: 15px; }
      .portlet.light > .portlet-title > .caption.caption-md > i {
        font-size: 14px; }
    .portlet.light > .portlet-title > .inputs {
      float: right;
      display: inline-block;
      padding: 4px 0; }
      .portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > i {
        font-size: 14px;
        margin-top: 9px; }
      .portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > .form-control {
        height: 30px;
        padding: 2px 26px 3px 10px;
        font-size: 13px; }
      .portlet.light > .portlet-title > .inputs > .portlet-input > .form-control {
        height: 30px;
        padding: 3px 10px;
        font-size: 13px; }
    .portlet.light > .portlet-title > .pagination {
      padding: 2px 0 13px 0; }
  .portlet.light.form-fit {
    padding: 0; }
    .portlet.light.form-fit > .portlet-title {
      padding: 17px 20px 10px 20px;
      margin-bottom: 0; }
  .portlet.light .portlet-body {
    padding-top: 8px; }
  .portlet.light.portlet-fullscreen > .portlet-body {
    padding: 8px 0; }

.tab-pane > p:last-child {
  margin-bottom: 0px; }

/* Reverse aligned tabs */
.tabs-reversed > li {
  float: right;
  margin-right: 0; }
  .tabs-reversed > li > a {
    margin-right: 0; }

/* jQuery UI Draggable Portlets */
.portlet-sortable:not(.portlet-fullscreen) > .portlet-title {
  cursor: move; }

.portlet-sortable-placeholder {
  border: 2px dashed #eee;
  margin-bottom: 25px; }

.portlet-sortable-empty {
  height: 45px; }

/***
Form Layouts
****/
/* Static info */
.static-info {
  margin-bottom: 10px; }
  .static-info .name {
    font-size: 14px; }
  .static-info .value {
    font-size: 14px;
    font-weight: 600; }
  .static-info.align-reverse .name, .static-info.align-reverse .value {
    text-align: right; }

/* Help blocks */
.help-block {
  margin-top: 5px;
  margin-bottom: 5px; }

.help-inline {
  font-size: 13px;
  color: #737373;
  display: inline-block;
  padding: 5px; }

.form-inline input {
  margin-bottom: 0px !important; }

/* Control Label */
.control-label {
  margin-top: 1px; }
  .control-label .required {
    color: #e02222;
    font-size: 12px;
    padding-left: 2px; }

.form {
  padding: 0 !important; }
  .form .form-body {
    padding: 10px; }
    .portlet.light .form .form-body {
      padding-left: 0;
      padding-right: 0; }
  .form .form-actions {
    padding: 20px 10px;
    margin: 0;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    *zoom: 1; }
    .portlet.light .form .form-actions {
      background: none;
      padding-left: 0;
      padding-right: 0; }
    .portlet .form .form-actions {
      -o-border-radius: 0 0 4px 4px ;
      border-radius: 0 0 4px 4px ; }
    .form .form-actions:before, .form .form-actions:after {
      content: " ";
      display: table; }
    .form .form-actions:after {
      clear: both; }
    .form .form-actions.right {
      padding-left: 0;
      padding-right: 10px;
      text-align: right; }
      .portlet.light .form .form-actions.right {
        padding-right: 0; }
    .form .form-actions.left {
      padding-left: 10px;
      padding-right: 0;
      text-align: left; }
      .portlet.light .form .form-actions.left {
        padding-left: 0; }
    .form .form-actions.nobg {
      background-color: transparent; }
    .form .form-actions.top {
      margin-top: 0;
      margin-bottom: 20px;
      border-top: 0;
      border-bottom: 1px solid #e5e5e5; }
      .portlet.light .form .form-actions.top {
        background: none; }
    .form .form-actions .btn-set {
      display: inline-block; }
    @media (max-width: 766px) {
      .form .form-actions {
        /* 767px */ }
        .form .form-actions .btn-set {
          margin-bottom: 3px;
          margin-top: 3px;
          float: left !important; } }
  .form .form-section {
    margin: 30px 0px 25px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee; }
    .form .form-section:first-child {
      margin-top: 5px; }

/* Checkboxes */
.checkbox, .form-horizontal .checkbox {
  padding: 0; }
  .checkbox > label, .form-horizontal .checkbox > label {
    padding-left: 0; }

.checkbox-list > label {
  display: block; }
  .checkbox-list > label.checkbox-inline {
    display: inline-block; }
    .checkbox-list > label.checkbox-inline:first-child {
      padding-left: 0; }

/* Radio buttons */
.radio-list > label {
  display: block; }
  .radio-list > label.radio-inline {
    display: inline-block; }
    .radio-list > label.radio-inline:first-child {
      padding-left: 0; }

/* Radio buttons in horizontal forms */
.form-horizontal .radio-list .radio {
  padding-top: 1px; }
.form-horizontal .radio-list > label {
  margin-bottom: 0; }
.form-horizontal .radio > span {
  margin-top: 2px; }

/* Rows seperated form layout */
.form .form-row-seperated .portlet-body {
  padding: 0; }
.form .form-row-seperated .form-group {
  margin: 0;
  border-bottom: 1px solid #efefef;
  padding: 15px 0; }
  .form .form-row-seperated .form-group.last {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 13px; }
  .form .form-row-seperated .form-group .help-block {
    margin-bottom: 0; }
.form .form-row-seperated .form-body {
  padding: 0; }
.form .form-row-seperated .form-actions {
  padding-left: 15px !important;
  padding-right: 15px !important; }

/* Form bordered */
.form .form-bordered .form-group {
  margin: 0;
  border-bottom: 1px solid #efefef; }
  .form .form-bordered .form-group > div {
    padding: 15px;
    border-left: 1px solid #efefef; }
    @media (max-width: 991px) {
      .form .form-bordered .form-group > div {
        /* 991px */
        border-left: 0; } }
  .form .form-bordered .form-group.last {
    border-bottom: 0; }
  .form .form-bordered .form-group .control-label {
    padding-top: 20px; }
    @media (max-width: 991px) {
      .form .form-bordered .form-group .control-label {
        /* 991px */
        padding-top: 10px; } }
  .form .form-bordered .form-group .help-block {
    margin-bottom: 0; }
  .form .form-bordered .form-group .form-control {
    margin: 0; }
.form .form-bordered .form-body {
  margin: 0;
  padding: 0; }
.form .form-bordered .form-actions {
  margin-top: 0;
  padding-left: 16px !important;
  padding-right: 16px !important; }
  @media (max-width: 991px) {
    .form .form-bordered .form-actions {
      /* 991px */
      padding-left: 15px !important;
      padding-right: 15px !important; } }

/* Horizontal bordered form */
.form .form-horizontal.form-bordered.form-row-stripped .form-group:nth-child(even) {
  background-color: #fcfcfc; }
.form .form-horizontal.form-bordered.form-row-stripped .form-control {
  background: #fff !important; }
.form .form-horizontal.form-bordered.form-label-stripped .form-group:nth-child(even) {
  background-color: #fcfcfc; }
  .form .form-horizontal.form-bordered.form-label-stripped .form-group:nth-child(even) > div {
    background-color: #ffffff; }
.form .form-horizontal.form-bordered.form-label-stripped .form-group:nth-child(even) {
  background-color: #fcfcfc; }

/***
Forms
***/
/* Input placeholder font color */
.form-control::-moz-placeholder {
  color: #b3b3b3;
  opacity: 1; }
.form-control:-ms-input-placeholder {
  color: #b3b3b3; }
.form-control::-webkit-input-placeholder {
  color: #b3b3b3; }

/* Form inputs */
.form-control {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .form-control:focus {
    border-color: #307131 !important;
    outline: 0;
    box-shadow: none !important; }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eeeeee; }
  .form-control.height-auto {
    height: auto; }
  .form-control.form-control-solid {
    background-color: #F1F3F8;
    border-color: #F1F3F8;
    color: #A6B2BA; }
    .form-control.form-control-solid:focus {
      border-color: #e3e7f1; }
    .form-control.form-control-solid::-moz-placeholder {
      color: #acb7be;
      opacity: 1; }
    .form-control.form-control-solid:-ms-input-placeholder {
      color: #acb7be; }
    .form-control.form-control-solid::-webkit-input-placeholder {
      color: #acb7be; }

/* Form uneditable input */
.uneditable-input {
  padding: 6px 12px;
  min-width: 206px;
  font-size: 14px;
  font-weight: normal;
  height: 34px;
  color: #333;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

/* Form input sizing */
.input-mini {
  width: 45px !important; }

.input-xsmall {
  width: 80px !important; }

.input-small {
  width: 145px !important; }

.input-medium {
  width: 240px !important; }

.input-large {
  width: 320px !important; }

.input-xlarge {
  width: 420px !important; }

.input-inline {
  display: inline-block;
  width: auto;
  vertical-align: middle; }

.form-group .input-inline {
  margin-right: 5px; }

.input-sm {
  height: 28px;
  padding: 5px 10px;
  font-size: 13px; }

select.input-sm {
  height: 28px;
  line-height: 28px;
  padding: 2px 10px; }

@media (max-width: 767px) {
  /* 768px */
  .input-large {
    width: 250px !important; }
  .input-xlarge {
    width: 300px !important; } }

/* Input  groups */
.input-group .btn-default {
  border-color: #e5e5e5; }
.input-group .input-group-addon {
  border-color: #e5e5e5;
  background: #e5e5e5;
  min-width: 39px; }
  .input-group .input-group-addon > i {
    color: #999; }

/* Input spinner */
input[type="text"].spinner, input[type="password"].spinner, input[type="datetime"].spinner, input[type="datetime-local"].spinner, input[type="date"].spinner, input[type="month"].spinner, input[type="time"].spinner, input[type="week"].spinner, input[type="number"].spinner, input[type="email"].spinner, input[type="url"].spinner, input[type="search"].spinner, input[type="tel"].spinner, input[type="color"].spinner {
  background-image: url("../img/input-spinner.gif") !important;
  background-repeat: no-repeat;
  background-position: right 8px; }

/* Form labels */
label {
  font-weight: 400;
  font-size: 14px; }

/* Static form control */
.form-control-static {
  margin: 2px 0;
  display: inline-block; }

/* Feedback states */
.has-success .help-block, .has-success .help-inline, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
  color: #3c763d; }
.has-success .form-control {
  border-color: #d6e9c6;
  box-shadow: none; }
  .has-success .form-control:focus {
    border-color: #bbdba1;
    box-shadow: none; }
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #d6e9c6;
  background-color: #dff0d8; }
.has-success .form-control-feedback {
  color: #3c763d; }

.has-warning .help-block, .has-warning .help-inline, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
  color: #8a6d3b; }
.has-warning .form-control {
  border-color: #faebcc;
  box-shadow: none; }
  .has-warning .form-control:focus {
    border-color: #f5d89e;
    box-shadow: none; }
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #faebcc;
  background-color: #fcf8e3; }
.has-warning .form-control-feedback {
  color: #8a6d3b; }

.has-error .help-block, .has-error .help-inline, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: #a94442; }
.has-error .form-control {
  border-color: #ebccd1;
  box-shadow: none; }
  .has-error .form-control:focus {
    border-color: #dca7b0;
    box-shadow: none; }
.has-error .input-group-addon {
  color: #a94442;
  border-color: #ebccd1;
  background-color: #f2dede; }
.has-error .form-control-feedback {
  color: #a94442; }

/* Circle Inputs */
.input-circle {
  border-radius: 25px !important; }

.input-circle-right {
  border-radius: 0 25px 25px 0 !important; }

.input-circle-left {
  border-radius: 25px 0 0 25px !important; }

.input-circle-bottom {
  border-radius: 0 0 25px 25px !important; }

.input-circle-top {
  border-radius: 25px 25px 0 0 !important; }

/***
jQuery Uniform
***/
.checker {
  margin-top: -2px !important;
  margin-right: 2px !important; }

.checker input, .radio input {
  outline: none !important; }

div.checker.disabled span, div.checker.disabled.active span {
  background-position: -152px -260px; }

div.checker.disabled:hover, div.radio.disabled:hover {
  cursor: not-allowed; }

div.radio, div.checker {
  margin-right: 0;
  margin-left: 3px; }

/***
General typography
***/
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 33px; }

h2 {
  font-size: 27px; }

h3 {
  font-size: 23px; }

h4 {
  font-size: 17px; }

h5 {
  font-size: 13px; }

h6 {
  font-size: 12px; }

/* Headings helper text */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #444444; }

/* Block headings */
h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
  padding-top: 10px;
  padding-bottom: 10px; }

/* Links */
a {
  text-shadow: none;
  color: #307131; }
  a:hover {
    color: #193b1a; }
  a:focus, a:hover, a:active {
    outline: 0; }

/* Horizontal break */
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 0; }

/* Unstyled List */
.list-unstyled li > .list-unstyled {
  margin-left: 25px; }

/* Code */
code {
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }

/* Disabled Navigation Link */
.disabled-link .disable-target {
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important; }
  .disabled-link .disable-target:hover {
    cursor: not-allowed !important; }
.disabled-link:hover {
  cursor: not-allowed !important; }

.divider {
  height: 1px;
  width: 100%;
  background-color: #ddd;
  position: relative;
  margin: 70px 0 60px; }
  .divider:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%); }
  @media (max-width: 991px) {
    .divider {
      margin: 55px 0 35px; } }

.smurfs {
  color: #0097d5; }

.frogs {
  color: #47A243; }

.nuetral {
  color: #A1AAB6; }

.spacer {
  margin-top: 40px;
  /* define margin as you see fit */ }

/* layout */
body {
  background-color: #F9F9F9; }

a:focus, button:focus {
  outline: none; }

.navbar {
  min-height: 70px;
  background: black;
  border-radius: 0px;
  border: none;
  z-index: 9999;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 767px) {
    .navbar {
      background: transparent;
      padding-top: 10px; }
      .navbar .navbar-nav > .active > a {
        background: transparent;
        color: white; } }
  .navbar .no-hover > a:hover {
    background-color: transparent !important; }
  .navbar .navbar-header .navbar-brand {
    color: white;
    padding: 25px 15px;
    font-weight: 500;
    font-size: 23px; }
  .navbar .navbar-header .navbar-toggle {
    margin-top: 17px;
    background-color: #47A243;
    color: white; }
  @media (min-width: 767px) {
    .navbar .navbar-collapse .navbar-nav {
      float: none;
      display: inline-block; } }
  .navbar .navbar-collapse .navbar-nav > li {
    float: none;
    display: inline-block; }
    @media (max-width: 767px) {
      .navbar .navbar-collapse .navbar-nav > li {
        display: block; } }
    .navbar .navbar-collapse .navbar-nav > li .dropdown:hover > .dropdown-menu {
      display: block; }
    .navbar .navbar-collapse .navbar-nav > li > a {
      padding: 25px 20px;
      color: white;
      font-weight: 500;
      z-index: 1001;
      transition: color 0.2s linear; }
      @media (max-width: 767px) {
        .navbar .navbar-collapse .navbar-nav > li > a {
          padding: 18px 20px; } }
      .navbar .navbar-collapse .navbar-nav > li > a:hover {
        background-color: transparent;
        color: white; }
      .navbar .navbar-collapse .navbar-nav > li > a > .profile-img {
        margin-top: -8px;
        margin-right: 8px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px black solid;
        float: left; }
        @media (max-width: 767px) {
          .navbar .navbar-collapse .navbar-nav > li > a > .profile-img {
            display: none; } }
      .navbar .navbar-collapse .navbar-nav > li > a > i {
        float: left;
        font-size: 14px;
        margin-top: 7px; }
      .navbar .navbar-collapse .navbar-nav > li > a > button {
        margin: -5px !important; }
    .navbar .navbar-collapse .navbar-nav > li.open > a {
      color: white !important;
      background-color: transparent; }
      @media (max-width: 767px) {
        .navbar .navbar-collapse .navbar-nav > li.open > a {
          background-color: black;
          color: white !important; } }
    .navbar .navbar-collapse .navbar-nav > li ul.dropdown-menu {
      margin-top: -10px;
      margin-left: -1px;
      text-align: left;
      padding: 0px;
      border-top: 2px solid black; }
      .navbar .navbar-collapse .navbar-nav > li ul.dropdown-menu li a {
        padding: 8px 18px; }
        @media (max-width: 767px) {
          .navbar .navbar-collapse .navbar-nav > li ul.dropdown-menu li a {
            color: white;
            padding: 10px 18px 12px 30px; } }
  .navbar .navbar-collapse .navbar-nav .login-button {
    color: #47A243;
    background-color: white;
    border-color: #47A243; }
    .navbar .navbar-collapse .navbar-nav .login-button:hover, .navbar .navbar-collapse .navbar-nav .login-button:focus, .navbar .navbar-collapse .navbar-nav .login-button:active, .navbar .navbar-collapse .navbar-nav .login-button.active {
      color: #47A243;
      background-color: #ededed;
      border-color: #377e34; }
    .open .navbar .navbar-collapse .navbar-nav .login-button.dropdown-toggle {
      color: #47A243;
      background-color: #ededed;
      border-color: #377e34; }
    .navbar .navbar-collapse .navbar-nav .login-button:active, .navbar .navbar-collapse .navbar-nav .login-button.active {
      background-image: none;
      background-color: #e0e0e0; }
      .navbar .navbar-collapse .navbar-nav .login-button:active:hover, .navbar .navbar-collapse .navbar-nav .login-button.active:hover {
        background-color: #e6e6e6; }
    .open .navbar .navbar-collapse .navbar-nav .login-button.dropdown-toggle {
      background-image: none; }
    .navbar .navbar-collapse .navbar-nav .login-button.disabled, .navbar .navbar-collapse .navbar-nav .login-button.disabled:hover, .navbar .navbar-collapse .navbar-nav .login-button.disabled:focus, .navbar .navbar-collapse .navbar-nav .login-button.disabled:active, .navbar .navbar-collapse .navbar-nav .login-button.disabled.active, .navbar .navbar-collapse .navbar-nav .login-button[disabled], .navbar .navbar-collapse .navbar-nav .login-button[disabled]:hover, .navbar .navbar-collapse .navbar-nav .login-button[disabled]:focus, .navbar .navbar-collapse .navbar-nav .login-button[disabled]:active, .navbar .navbar-collapse .navbar-nav .login-button[disabled].active, fieldset[disabled] .navbar .navbar-collapse .navbar-nav .login-button, fieldset[disabled] .navbar .navbar-collapse .navbar-nav .login-button:hover, fieldset[disabled] .navbar .navbar-collapse .navbar-nav .login-button:focus, fieldset[disabled] .navbar .navbar-collapse .navbar-nav .login-button:active, fieldset[disabled] .navbar .navbar-collapse .navbar-nav .login-button.active {
      background-color: white;
      border-color: #47A243; }
    .navbar .navbar-collapse .navbar-nav .login-button .badge {
      color: white;
      background-color: #47A243; }

#page-header {
  overflow: hidden;
  background: #47A243;
  background-size: cover;
  color: white;
  background-position: center 16%;
  position: relative;
  top: -100px;
  margin-bottom: -70px !important;
  padding-top: 70px;
  padding-bottom: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }
  @media (max-width: 991px) {
    #page-header {
      padding: 20px 10px; } }
  @media (max-width: 767px) {
    #page-header {
      top: -50px;
      margin-bottom: 0px !important; } }
  #page-header:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #245524 0%, #47A243 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF245524', endColorstr='#FF47A243', GradientType=1); }
  #page-header:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 13, 32, 0.1); }
  #page-header .container {
    position: relative;
    z-index: 33; }
  #page-header h1 {
    font-family: 'Lato', 'Helvetica Neue', Arial;
    line-height: 43px;
    text-align: left;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .3px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 40px; }
    @media (max-width: 767px) {
      #page-header h1 {
        font-size: 20px;
        line-height: 24px;
        text-align: center; } }
  #page-header p {
    -webkit-font-smoothing: antialiased;
    width: 50%;
    font-family: 'Lato', 'Helvetica Neue', Arial;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
    @media (max-width: 991px) {
      #page-header p {
        width: 70%; } }
    @media (max-width: 767px) {
      #page-header p {
        font-size: 12px;
        width: 100%;
        text-align: center; } }

#footer-white {
  background: white;
  border-top: 1px solid #e1e1e1;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 991px) {
    #footer-white {
      padding-top: 30px; } }
  #footer-white p {
    color: #B4B4B4; }
  #footer-white h1 {
    font-size: 29px;
    color: black;
    line-height: 25px;
    font-weight: 400;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    @media (max-width: 767px) {
      #footer-white h1 {
        font-size: 24px;
        line-height: 29px; } }
  #footer-white .connect {
    margin-top: 20px;
    padding: 0; }
    #footer-white .connect li {
      display: inline-block;
      font-size: 18px;
      margin-right: 8px;
      width: 40px;
      text-align: center; }
      #footer-white .connect li a {
        padding: 0.2em 0 0.4em;
        display: block;
        border-radius: 4px; }
        #footer-white .connect li a:hover {
          text-decoration: none;
          background: #47A243; }
      #footer-white .connect li i {
        color: white;
        position: relative;
        top: 2px; }
    #footer-white .connect a[href*="plus"] {
      background: #DD4B39; }
    #footer-white .connect a[href*="slack"] {
      background: #BC292A; }
    #footer-white .connect a[href*="github"] {
      background: #333; }
  @media (max-width: 767px) {
    #footer-white .menu {
      margin-top: 40px; } }
  #footer-white .menu h3 {
    margin-top: 0;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 600; }
  #footer-white .menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px; }
    #footer-white .menu ul li {
      display: block;
      margin-bottom: 9px; }
      #footer-white .menu ul li a {
        display: inline-block;
        font-weight: 500;
        font-size: 13px; }
        @media (max-width: 991px) {
          #footer-white .menu ul li a {
            padding: 0; } }
  #footer-white .credits {
    margin-top: 30px;
    border-top: 1px solid #e1e1e1; }
    #footer-white .credits .left {
      padding-top: 20px;
      font-size: 13px;
      text-align: left;
      color: #B4B4B4; }
      @media (max-width: 767px) {
        #footer-white .credits .left {
          text-align: center; } }
    #footer-white .credits .right {
      padding-top: 20px;
      font-size: 13px;
      text-align: right;
      color: #B4B4B4; }
      @media (max-width: 767px) {
        #footer-white .credits .right {
          text-align: center; } }

/* pages */
#home #hero {
  overflow: hidden;
  background: #47A243;
  background-size: cover;
  background-position: center 16%;
  height: 620px;
  position: relative;
  top: -100px;
  padding-top: 150px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }
  @media (max-width: 991px) {
    #home #hero {
      padding-top: 100px; } }
  @media (max-width: 767px) {
    #home #hero {
      height: 350px; } }
  #home #hero:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #245524 0%, #47A243 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF245524', endColorstr='#FF47A243', GradientType=1); }
  #home #hero:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 13, 32, 0.1); }
  #home #hero .container {
    position: relative;
    z-index: 33; }
  #home #hero h1.hero-text {
    font-family: 'Lato', 'Helvetica Neue', Arial;
    margin-top: 50px;
    line-height: 52px;
    text-align: left;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .3px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-animation-duration: 1s; }
    @media (max-width: 767px) {
      #home #hero h1.hero-text {
        font-size: 20px;
        line-height: 38px;
        margin-top: 0;
        text-align: center; } }
  #home #hero .sub-text {
    -webkit-font-smoothing: antialiased;
    width: 50%;
    margin-top: 30px;
    font-family: 'Lato', 'Helvetica Neue', Arial;
    color: white;
    font-weight: 400;
    font-size: 40px;
    line-height: 28px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-animation-duration: 1s; }
    @media (max-width: 991px) {
      #home #hero .sub-text {
        width: 70%; } }
    @media (max-width: 767px) {
      #home #hero .sub-text {
        font-size: 25px;
        width: 100%;
        text-align: center; } }
    #home #hero .sub-text span {
      background-color: #231F20;
      padding: 2px; }
  #home #hero .download {
    -webkit-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    animation-delay: 0.6s;
    margin-top: 30px;
    color: white !important;
    font-size: 35px; }
    @media (max-width: 767px) {
      #home #hero .download {
        margin-top: 30px;
        text-align: center; } }
    #home #hero .download ul {
      list-style: none;
      padding: 0px !important; }
      #home #hero .download ul li {
        display: inline;
        padding-right: 10px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9); }
        #home #hero .download ul li a {
          color: white;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9); }
  #home #hero .img {
    position: absolute;
    top: 0px;
    left: 725px;
    width: 346px;
    height: 400px;
    background-image: url("../../images/ingress-cutout.png");
    background-repeat: no-repeat; }
    @media (max-width: 991px) {
      #home #hero .img {
        display: none; } }
#home #features {
  /* mixin found in partials/snippets */
  background-color: inherit;
  margin-top: 20px; }
  @media (max-width: 991px) {
    #home #features {
      margin-top: 50px; } }
  #home #features .header {
    text-align: center;
    margin-top: -20px; }
    #home #features .header h2 {
      color: #555;
      font-weight: 300;
      font-size: 28px; }
      @media (max-width: 767px) {
        #home #features .header h2 {
          font-size: 25px; } }
    #home #features .header p {
      font-weight: 300;
      font-size: 17px;
      color: #757575; }
  #home #features .feature {
    margin-top: 55px;
    -webkit-font-smoothing: antialiased; }
    @media (min-width: 992px) {
      #home #features .feature.backwards .info {
        float: right; }
      #home #features .feature.backwards .image {
        float: left; }
        #home #features .feature.backwards .image img {
          margin: 0 auto; } }
    @media (max-width: 991px) {
      #home #features .feature {
        margin-top: 10px; } }
    #home #features .feature .info h4 {
      color: #469F42;
      font-weight: normal;
      font-size: 19px;
      line-height: 25px;
      margin-top: 35px; }
      @media (max-width: 991px) {
        #home #features .feature .info h4 {
          text-align: center; } }
    #home #features .feature .info p {
      color: #6C7279;
      font-size: 14px;
      margin-top: 20px;
      line-height: 24px;
      width: 83%;
      font-weight: normal; }
      @media (max-width: 991px) {
        #home #features .feature .info p {
          text-align: center;
          width: 100%;
          font-size: 14px; } }
    #home #features .feature .info .join {
      margin: 50px auto;
      background-color: #42973F;
      color: #fff;
      text-align: center;
      font-size: 45px;
      padding: 10px;
      -ms-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg); }
      @media (max-width: 767px) {
        #home #features .feature .info .join {
          font-size: 20px;
          line-height: 38px;
          margin: 0;
          text-align: center; } }
    @media (max-width: 991px) {
      #home #features .feature .image img {
        margin: 0 auto !important;
        margin-top: 20px; } }
  #home #features .community {
    margin: 40px 0; }
    #home #features .community img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 2px solid #47A243;
      display: block;
      width: 200px;
      height: 200px;
      margin: 0 auto; }
    #home #features .community h3 {
      color: #555;
      font-weight: 300;
      font-size: 20px;
      text-align: center;
      margin-top: 25px; }
      @media (max-width: 767px) {
        #home #features .community h3 {
          font-size: 16px; } }
    #home #features .community p {
      color: #555;
      font-weight: 300;
      font-size: 16px;
      text-align: center;
      margin-bottom: 20px; }
      @media (max-width: 767px) {
        #home #features .community p {
          font-size: 12px; } }
  @media (max-width: 767px) {
    #home #features {
      margin-top: 0; } }
#home #frogs {
  -webkit-font-smoothing: antialiased;
  background: black;
  background-image: linear-gradient(to bottom, #332d2f 0%, black 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF332D2F', endColorstr='#FF000000', GradientType=0);
  color: white;
  text-align: center;
  background-size: cover;
  font-size: 30px;
  font-weight: 400;
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px solid #e1e1e1; }
  @media (max-width: 767px) {
    #home #frogs {
      margin-top: 20px; } }
  #home #frogs a {
    color: white; }
#home #equipment {
  -webkit-font-smoothing: antialiased;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  background: #47A243;
  background-image: linear-gradient(to bottom, #245524 0%, #47A243 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF245524', endColorstr='#FF47A243', GradientType=0);
  margin-top: 110px;
  padding-top: 45px;
  padding-bottom: 70px; }
  #home #equipment .header {
    text-align: center;
    font-family: 'Lato', 'Helvetica Neue', Arial; }
    @media (max-width: 991px) {
      #home #equipment .header {
        margin-bottom: 25px; } }
    #home #equipment .header h3 {
      font-size: 29px;
      color: white;
      line-height: 25px;
      font-weight: 400;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
      @media (max-width: 767px) {
        #home #equipment .header h3 {
          font-size: 24px;
          line-height: 29px; } }
    #home #equipment .header h4 {
      font-size: 21px;
      color: #245524;
      background-color: white;
      padding: 10px;
      line-height: 25px;
      font-weight: 400;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
      @media (max-width: 767px) {
        #home #equipment .header h4 {
          font-size: 17px;
          line-height: 24px; } }
    #home #equipment .header img {
      margin: 0 auto; }
    #home #equipment .header p {
      font-size: 16px;
      margin-top: 15px;
      margin-bottom: 25px;
      color: #F0F0F0;
      font-weight: 400;
      line-height: 25px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    #home #equipment .header button {
      color: #245524;
      background-color: white;
      border-color: #245524; }
      #home #equipment .header button:hover, #home #equipment .header button:focus, #home #equipment .header button:active, #home #equipment .header button.active {
        color: #245524;
        background-color: #ededed;
        border-color: #153115; }
      .open #home #equipment .header button.dropdown-toggle {
        color: #245524;
        background-color: #ededed;
        border-color: #153115; }
      #home #equipment .header button:active, #home #equipment .header button.active {
        background-image: none;
        background-color: #e0e0e0; }
        #home #equipment .header button:active:hover, #home #equipment .header button.active:hover {
          background-color: #e6e6e6; }
      .open #home #equipment .header button.dropdown-toggle {
        background-image: none; }
      #home #equipment .header button.disabled, #home #equipment .header button.disabled:hover, #home #equipment .header button.disabled:focus, #home #equipment .header button.disabled:active, #home #equipment .header button.disabled.active, #home #equipment .header button[disabled], #home #equipment .header button[disabled]:hover, #home #equipment .header button[disabled]:focus, #home #equipment .header button[disabled]:active, #home #equipment .header button[disabled].active, fieldset[disabled] #home #equipment .header button, fieldset[disabled] #home #equipment .header button:hover, fieldset[disabled] #home #equipment .header button:focus, fieldset[disabled] #home #equipment .header button:active, fieldset[disabled] #home #equipment .header button.active {
        background-color: white;
        border-color: #245524; }
      #home #equipment .header button .badge {
        color: white;
        background-color: #245524; }


/*# sourceMappingURL=app.css.map */