#faq {

  ol.faq-list {

    font-size: 16px;

    > li {

      > a {

        color: $primary-color;

      }

    }

  }

  ul.list-group {

    > li.list-group-item {

      border-right: 0px !important;
      border-left: 0px !important;
      border-top: 1px solid #e1e1e1 !important;

      &:last-child {
        border-bottom: 0px !important;
      }

      &:first-child {
        border-top: 0px !important;
      }

      > h3.list-group-item-heading {
        color: $primary-color !important;
        margin: 10px 0px;
      }

      > p.list-group-item-text {
        font-size: 16px;
      }

    }

  }

}