@import "../snippets/features";

.page-wraper {

  #hero {
    margin-top: 60px;

    .download {
      @include animationDelay(0.6s);
      margin-top: 30px;
      color: white !important;
      font-size: 35px;

      @media (max-width: 767px) {
        margin-top: 30px;
        text-align: center;
      }

      ul {
        list-style: none;
        padding: 0px !important;

        li {
          display: inline;
          padding-right: 10px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);

          a {
            color: white !important;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
          }

        }

      }

    }

    .img {
      position: absolute;
      top: 0px;
      left: 725px;
      width: 346px;
      height: 400px;
      background-image: url("../../images/ingress-cutout.png");
      background-repeat: no-repeat;

      @media(max-width: 991px) {
        display: none;
      }
    }
  }

  #features {
    /* mixin found in partials/snippets */
    @include features-section;

    margin-top: 20px;

    @media(max-width: 767px) {
      margin-top: 0;
    }
  }

  #frogs {
    -webkit-font-smoothing: antialiased;
    background: black;
    @include gradient-vertical(#332d2f, black, 0%, 100%);
    color: white;
    text-align: center;
    background-size: cover;
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;
    padding: 20px 0;
    border-top: 1px solid #e1e1e1;
    @media (max-width: 767px) {
      margin-top: 20px;
    }

    a {
      color: white;
    }
  }

  #equipment {
    -webkit-font-smoothing: antialiased;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background: $primary-color;
    @include gradient-vertical($secondary-color, $primary-color, 0%, 100%);
    margin-top: 110px;
    padding-top: 45px;
    padding-bottom: 70px;

    .index-header {
      text-align: center;
      font-family: $lato;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      h3 {
        font-size: 29px;
        color: white;
        line-height: 25px;
        font-weight: 400;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

        @media(max-width: 767px) {
          font-size: 24px;
          line-height: 29px;
        }
      }
      h4 {
        font-size: 21px;
        color: $secondary-color;
        background-color: white;
        padding: 10px;
        line-height: 25px;
        font-weight: 400;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

        @media(max-width: 767px) {
          font-size: 17px;
          line-height: 24px;
        }
      }
      img {
        margin: 0 auto;
      }
      p {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 25px;
        color: #F0F0F0;
        font-weight: 400;
        line-height: 25px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      }
      button {
        @include button-variant($secondary-color, white, $secondary-color);
      }
    }

  }
}