
body {
  background-color: $body-color;
}

a, button {
  text-decoration: none !important;
  &:focus {
    outline: none;
  }
}

a, a:hover {
  color: $primary-color;
}



@import "snippets/header";
@import "snippets/footer";